@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.navbar {
    padding: 0px 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 2px solid grey;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.navbar-toggler{
    margin: 15px;
    color: white;
}

.navbar-toggler-icon{
    color: white;
}

.nav-item {
    padding-top: 30px;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    margin-bottom: 15px;
}

.nav-item:hover {
    color: #1ABC9C;
}

.identidad {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}

.logo-escom{
    margin-left: 30px;
}

@media (max-width: 520px) {
    .identidad {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .nav-item {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 7px;
        margin-bottom: 15px;
    }
}