@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.navbar {
    padding: 0px 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 2px solid grey;
    margin-bottom: 30px;
}

.nav-item {
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    color: #D61E7A;
}

@media (max-width: 520px) {
    .logo-ipn {
        display: none;
    }
    .logo-escom {
        width: 70px;
    }
}