@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.titular{
    text-align: center;
    padding: 30px 0;
    
}

.seccion{
    padding: 0 10px;
}

legend{
    padding-top: 30px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-group{
    margin-top: 20px;
}

.botones{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

.botones > input {
    margin-top: 10px;
}

.form-group-input{
    position: relative;
}

.form-input-err{
    display: none;
}

.form-input-err-active{
    font-size: smaller;
    display: block;
}

.form-mens{
	background: #F66060;
	padding: 10px 10px;
    border-radius: 3px;
    display: none;
    color: white;
}

.form-mens-active{
    display: block;
}

.form-valid-edo{
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 100;
    opacity: 0;
}

#group-daten .form-valid-edo{
    right: 50px;
}

#group-promedio .form-valid-edo{
    right: 30px;
}

.form-group-correct .form-valid-edo{
    color: #1ed12d;
    opacity: 1;
}

.form-group-notcorrect .form-valid-edo{
    color: #bb2929;
    opacity: 1;
}

.form-group-notcorrect .form-control{
    border-color: #bb2929;
}

.nombreE{
    display: none;
}

.nombreE-active{
    display: block;
}

.error-bd{
    display: none;
}
